@media only screen and (max-width: 950px){
  .head{
    padding: 0 15px;
  }

  .video-player{
    padding: 0 15px;
  }

  .probiotik{
    padding: 0 15px;
  }

  .nusantara{

    .container{
      flex-wrap: wrap;

      .product-container{
        margin-bottom: 25px;
      }
    }
  }

  #cc{
    padding-right: 0;
    padding-left: 0;
  }
}
